# Maven
/target/
/.mvn/

# IDEs
.idea/
.classpath
.project
.settings/
.vscode/

# Logs
*.log
backend.log

# OS
.DS_Store

# Jenkins home bind-mount (contains secrets)
/jenkins_home/

# Docker
.env
docker-compose.override.yml

# Sonar
.scannerwork/
.sonar/

# Others
/node_modules/
/.history/
HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
